.main{
    background: #1B1E1E;
    .container{
        max-width: 1480px;
        margin: 0 auto;
        .section_about{
            display: flex;
            align-items: center;
            .about_text{
                .about_title{
                    color: #FFF;
                    font-variant-numeric: lining-nums proportional-nums;
                    font-family: Raleway;
                    font-size: 3.5rem;
                    font-weight: 500;
                    line-height: 110%; 
                    max-width: 545px;
                    margin-bottom: 80px;
                }
                .about_btn{
                    padding: 25px 55px;
                    border-radius: 106px;
                    text-decoration: none;
                    border: 1px solid #FFF;
                    color:  #FFF;
                    font-variant-numeric: lining-nums proportional-nums;
                    font-family: Raleway;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 110%;
                    transition: .3s ease-in-out;
                    -webkit-transition: .3s ease-in-out;
                    -moz-transition: .3s ease-in-out;
                    -ms-transition: .3s ease-in-out;
                    -o-transition: .3s ease-in-out;
                    &:hover{
                        border: 1px solid #19BECB;
                    }
                    }
                    .about_btn_nav{
                            padding: 25px 55px;
                            border-radius: 106px;
                            text-decoration: none;
                            border: 1px solid #FFF;
                            color:  #FFF;
                            font-variant-numeric: lining-nums proportional-nums;
                            font-family: Raleway;
                            font-size: 1.8rem;
                            font-weight: 600;
                            line-height: 110%;
                            transition: .3s ease-in-out;
                            -webkit-transition: .3s ease-in-out;
                            -moz-transition: .3s ease-in-out;
                            -ms-transition: .3s ease-in-out;
                            -o-transition: .3s ease-in-out;
                            &:hover{
                                border: 1px solid #19BECB;
                            }
                    }
            }
            .about_block{
                margin-left: 80px;
                .block_top{
                    width: 855px;
                    height: 307px;
                    border-radius: 20px;
                    background: #222525;
                    margin-bottom: 18px;
                    .block_container{
                        max-width: 725px;
                        margin: 0 auto;
                        padding-top: 50px;
                        .block_title{
                            color: #C6CACA;
                            font-variant-numeric: lining-nums proportional-nums;
                            font-family: Raleway;
                            font-size: 2.4rem;
                            line-height: 110%; 
                            margin-bottom: 35px;
                        }
                        ul{
                            list-style: circle;
                            li{
                                color: #19BECB;
                                list-style-type: circle;
                                span{
                                    color: #C6CACA;
                                    font-variant-numeric: lining-nums proportional-nums;
                                    font-family: Raleway;
                                    font-size: 2.4rem;
                                    line-height: 110%;
                                }
                            }
                        }
                    }
                }
                .block_bottom{
                    width: 855px;
                    height: 170px;
                    border-radius: 20px;
                    background: #222525;
                    .block_container{
                        max-width: 725px;
                        margin: 0 auto;
                        padding-top: 50px;
                        img{
                            margin-right: 40px;
                            &:last-child{
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
        .section_prod{
            margin-top: 23rem;
            .prod_top{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 60px;
                .prod_btn{
                        padding: 25px 55px;
                        border-radius: 106px;
                        text-decoration: none;
                        border: 1px solid #FFF;
                        color:  #FFF;
                        font-variant-numeric: lining-nums proportional-nums;
                        font-family: Raleway;
                        font-size: 1.8rem;
                        font-weight: 600;
                        line-height: 110%;
                        transition: .3s ease-in-out;
                        -webkit-transition: .3s ease-in-out;
                        -moz-transition: .3s ease-in-out;
                        -ms-transition: .3s ease-in-out;
                        -o-transition: .3s ease-in-out;
                        &:hover{
                            border: 1px solid #19BECB;
                        }
                        
                }
                .prod_title{
                    color: #FFF;
                    font-variant-numeric: lining-nums proportional-nums;
                    font-family: Raleway;
                    font-size: 4.5rem;
                    font-weight: 700;
                    line-height: 120%; 
                }
            }
            .prod_bottom{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .prod_card{
                    width: 460px;
                    height: 400px;
                    border-radius: 20px;
                    background: #222525;
                    transition: .3s ease-in;
                    -webkit-transition: .3s ease-in;
                    -moz-transition: .3s ease-in;
                    -ms-transition: .3s ease-in;
                    -o-transition: .3s ease-in;
                    border: 1px solid #000;
                    margin-bottom: 2rem;
                    margin-right: 2rem;
                    &:hover{
                        border: 1px solid #19BECB;
                    }
                    .card_img{
                        height: 350px;
                    }
                    .card_text{
                        display: flex;
                        align-items: center;
                        span{
                            color: #FFF;
                            font-variant-numeric: lining-nums proportional-nums;
                            font-family: Raleway;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 120%; 
                            margin-right: 17px;
                            margin-left: 45px;
                            width: 360px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .section_news{
            margin-top: 23rem;
            .news_top{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .news_title{
                    color: var(--white, #FFF);
                    font-variant-numeric: lining-nums proportional-nums;
                    font-family: Raleway;
                    font-size: 4.5rem;
                    font-weight: 700;
                    line-height: 120%; 
                }
            }
            .news_bottom{
                display: flex;
                .news_block{
                    background: url('../img/bgs/bg\ \(2\).png');
                    z-index: 10;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 605px;
                    height: 580px;
                    border-radius: 20px;
                    transition: .3s ease-in;
                    -webkit-transition: .3s ease-in;
                    -moz-transition: .3s ease-in;
                    -ms-transition: .3s ease-in;
                    -o-transition: .3s ease-in;
                    border: 1px solid #000;
                    &:hover{
                        border: 1px solid #19BECB;
                    }
                    .block_title{
                        color: #FFF;
                        font-variant-numeric: lining-nums proportional-nums;
                        font-family: Raleway;
                        font-size: 3.5rem;
                        font-weight: 600;
                        line-height: 120%; 
                        margin-left: 51px;
                        padding-top: 4.5rem;
                    }
                    .box_bottom{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-left: 51px;
                        margin-right: 45px;
                        margin-top: 394px;
                        p{
                            color: rgba(255, 255, 255, 0.70);
                            font-variant-numeric: lining-nums proportional-nums;
                            font-family: Raleway;
                            font-size: 1.8rem;
                            line-height: 110%;
                        }
                    }
                }
                .news_boxes{
                    display: flex;
                    position: relative;
                    z-index: 2;
                    overflow: hidden;
                    margin-left: 2rem;
                    .box{
                        width: 605px;
                        height: 280px;
                        border-radius: 20px;
                        background: #222525;
                        margin-right: 2rem;
                        margin-bottom: 2rem;
                        transition: .3s ease-in;
                        -webkit-transition: .3s ease-in;
                        -moz-transition: .3s ease-in;
                        -ms-transition: .3s ease-in;
                        -o-transition: .3s ease-in;
                        border: 1px solid #000;
                        &:hover{
                            border: 1px solid #19BECB;
                        }
                        :last-child{
                            margin-right: 0;
                            margin-bottom: 0;
                        }
                        .box_title{
                            font-variant-numeric: lining-nums proportional-nums;
                            text-overflow: ellipsis;
                            font-family: Raleway;
                            font-size: 1.8rem;
                            font-weight: 500;
                            line-height: 110%; 
                            margin-left: 50px;
                            padding-top: 45px;
                            width: 505px;
                        }
                        .box_bottom{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-left: 51px;
                            margin-right: 45px;
                            p{
                                color: #6F7171;
                                font-variant-numeric: lining-nums proportional-nums;
                                font-family: Raleway;
                                font-size: 1.6rem;
                                line-height: 110%;    
                            }
                        }
                    }
                }
            }
            .news_button{
                .news_btn{
                    border-radius: 500px;
                    border: 1px solid rgba(255, 255, 255, 0.10);
                    background: #1B1E1E;
                    padding: 0px 50px;
                    height: 63px;
                    display: inline-block;
                    width: 1380px;
                    color: var(--white, #FFF);
                    font-variant-numeric: lining-nums proportional-nums;
                    font-family: Raleway;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 110%; /* 19.8px */
                    transition: .3s ease-in;
                    -webkit-transition: .3s ease-in;
                    -moz-transition: .3s ease-in;
                    -ms-transition: .3s ease-in;
                    -o-transition: .3s ease-in;
                    border: 1px solid #000;
                    padding-top: 21px;
                    &:hover{
                        border: 1px solid #19BECB;
                    }
                }
            }
        }
        .section_tests{
            margin-top: 23rem;
            .test_title{
                color: #FFF;
                font-family: Raleway;
                font-size: 4.5rem;
                font-weight: 700;
                line-height: 120%; /* 54px */
                margin-bottom: 6rem;
            }
            .test_bottom{
                display: flex;
                align-items: center;
                .test_block{
                    width: 980px;
                    height: 550px;
                    border-radius: 20px;
                    background: url(../img/bgs/bg\ \(3\).png);
                    background-size: cover;
                    .test_subtitle{
                        color: #FFF;
                        font-variant-numeric: lining-nums proportional-nums;
                        font-family: Raleway;
                        font-size: 3.5rem;
                        font-weight: 600;
                        line-height: 120%; 
                        padding-top: 4.5rem;
                        margin-left: 5rem;
                        margin-bottom: 28rem;
                    }
                }
                .test_list{
                    display: flex;
                    flex-direction: column;
                    margin-right: 7rem;
                    position: relative;
                    .line{
                        border-bottom: 1px solid rgba(255, 255, 255, 0.10);                  
                        padding-bottom: 1.5rem;
                        padding-top: 1.5rem;
                        &:last-child{
                            overflow: hidden;
                        }
                        .line_title{
                            color: #FFF;
                            font-variant-numeric: lining-nums proportional-nums;
                            font-family: Raleway;
                            font-size: 1.8rem;
                            font-weight: 500;
                            line-height: 110%; 
                            width: 430px;
                            margin-bottom: 20px;
                        }
                        .line_time{
                            color: #6F7171;
                            font-family: Raleway;
                            font-size: 1.6rem;
                            line-height: 110%; 
                        }
                    }
                    .list_btn{
                        margin-top: 5rem;
                        display: block;
                        padding: 30px 40px;
                        border-radius: 106px;
                        border: 1px solid rgba(255, 255, 255, 0.10);
                        color: var(--white, #FFF);
                        font-family: Raleway;
                        font-size: 1.8rem;
                        font-weight: 600;
                        line-height: 110%;
                        transition: .3s ease-in;
                        -webkit-transition: .3s ease-in;
                        -moz-transition: .3s ease-in;
                        -ms-transition: .3s ease-in;
                        -o-transition: .3s ease-in;
                        &:hover{
                            border: 1px solid rgba(25, 190, 203, 0.60);
                        }
                    }
                }
            }
        }
        .section_question{
            margin-top: 23rem;
            .question_block{
                width: 148rem;
                height: 220px;
                border-radius: 20px;
                background: #222525;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 65px 125px;
                .block_one{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .block_img{
                        .img_block{
                            width: 90px;
                            height: 90px;
                            border-radius: 15px;
                            text-align: center;
                            background: #243535;
                            img{
                                padding-top: 15px;
                            }
                        }
                    }
                    .block_text{
                        display: flex;
                        flex-direction: column;
                        margin-left: 4rem;
                        .text_title{
                            color:  #FFF;
                            font-family: Raleway;
                            font-size: 3rem;
                            font-weight: 700;
                            line-height: 110%; 
                            margin-bottom: 2.5rem;
                        }
                        .text_text{
                            color: #C6CACA;
                            font-family: Raleway;
                            font-size: 2.2rem;
                            line-height: 110%; 
                            max-width: 705px;
                        }
                    }
                }
                .block_two{
                    .btn{
                        padding: 32px 62px;
                        border-radius: 106px;
                        background: linear-gradient(270deg, #25B7BC 0%, #007FA1 100%);
                        color: var(--white, #FFF);
                        font-family: Raleway;
                        font-size: 1.8rem;
                        font-weight: 600;
                        line-height: 110%; /* 19.8px */
                    }
                }
            }
        }
    }
}
.none{
    display: none;
}
.about_btn_nav{
    display: none;
}
@media screen and (max-width: 1024px) {
    .container {
        .section_about {
            flex-direction: column;
            align-items: flex-start;
            .about_text {
                .about_title {
                    color: #FFF;
                    font-family: Raleway;
                    font-size: 3.3rem;
                    font-weight: 500;
                    line-height: 110%; /* 36.3px */ 
                }
                .about_btn {
                    padding: 20px 45px;
                    display: none;
                }
            }
            .about_btn_nav{
                display: block;
                margin-top: 3rem;
                    padding: 25px 55px;
                    border-radius: 106px;
                    text-decoration: none;
                    border: 1px solid #FFF;
                    color:  #FFF;
                    font-variant-numeric: lining-nums proportional-nums;
                    font-family: Raleway;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 110%;
                    transition: .3s ease-in-out;
                    -webkit-transition: .3s ease-in-out;
                    -moz-transition: .3s ease-in-out;
                    -ms-transition: .3s ease-in-out;
                    -o-transition: .3s ease-in-out;
                    &:hover{
                        border: 1px solid #19BECB;
                    }
            }
            .about_block {
                margin-left: 0;
                margin-top: 40px; 

                .block_top, .block_bottom {
                    width: 100%; 
                    height: auto; 
                    .block_container {
                        padding-top: 30px; 
                        img {
                            margin-right: 20px; 
                        }
                    }
                }
            }
        }
        .section_prod{
            padding: 0 3rem;
            .prod_card{
                width: 402px;
                height: 375px; 
            }
        }
        .section_news{
            overflow: hidden;
            .news_block{
                width: 565px;
                height: 580px;
            }
            .news_boxes{
                .box{
                    width: 565px;
                    height: 280px; 
                } 
            }
        }
        .section_question{
            .question_block{
                width: 924px;
                height: 285px; 
            }
        }
    }
}
